<%- include ('partials/start') %>
<%- include ('partials/header') %>
    <main>
        <h1>About Me</h1>
        <hr>
        <br>
        <br>

        <p>I am Charlyn Iriejo G. Cuasay, a 20-year-old BSIT student at Minsu Calapan Campus.</p>
        <p>I like listening to music. Try to listen here!</p>
        <div class="iframe-container">
            <iframe width="656" height="369" src="https://www.youtube.com/embed/aJakSXHZROo" title="Cup of Joe, Janine Teñoso  - &quot;Tingin&quot; (Official Lyric Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>        
        <p>I am part of youth ministry, there is always an annual assembly of youth. come and join us</p>
        <p>Kitakits!</p>
    </main>
<%- include ('partials/footer') %>
<%- include ('partials/end') %>