<%- include ('partials/start') %>
<%- include ('partials/header') %>
    <main>
        <h1>My Hobbies</h1>
        <p>I enjoy:</p>
        <ul>
            <li>Singing</li>
            <li>Dancing</li>
            <li>Playing instruments like guitar, ukulele, kalimba, and flute.</li>
        </ul>
    </main>
<%- include ('partials/footer') %>
<%- include ('partials/end') %>