<%- include ('partials/start') %>
<%- include ('partials/header') %>
    <main>
        <h1>Know more about myself</h1>
        <hr>
        <p style="text-align: center;">Listen to this music</p>
        <hr>
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/fu9yk7gCTbc" title="PALAGI - TJxKZ | LIVE SESSIONS" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </main>
<%- include ('partials/footer') %>
<%- include ('partials/end') %>