<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Charlyn Iriejo G. Cuasay</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        /* Centering the iframe */
        .iframe-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }
        iframe {
            width: 656px;
            height: 369px;
            border: none;
        }
        
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/skills">Skills</a>
            <a href="/hobbies">Hobbies</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h1>Know more about myself</h1>
        <hr>
        <p style="text-align: center;">Listen to this music</p>
        <hr>
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/fu9yk7gCTbc" title="PALAGI - TJxKZ | LIVE SESSIONS" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Charlyn Iriejo G. Cuasay</p>
    </footer>
</body>
</html>
