<%- include ('partials/start') %>
<%- include ('partials/header') %>
    <main>
        <h1>My Skills</h1>
        <br>
        <ul>
            <li>Trying</li>
            <li>to</li>
            <li>figure</li>
            <li>out</li>
            <li>pa. Stay tuned!</li>
        </ul>
    </main>
<%- include ('partials/footer') %>
<%- include ('partials/end') %>
