<header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/skills">Skills</a>
        <a href="/hobbies">Hobbies</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
